body{
    background: #303030;
    background: linear-gradient(to top left, #FFF, #c6c4c4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%
}
/*table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 2px;
}*/

/*TOP table menu*/
#top_control_panel ul{
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
}
#top_control_panel ul li{
    display: inline;
    float: left;
}
#top_control_panel a{
    font-family: Arial, sans-serif;
    font-size: 22px;
    font: normal;
    text-decoration: none;
    display: block;
    padding: 8px;
}
#top_control_panel a:link{
    color: #ccc;
}
#top_control_panel a:visited{
    color: #bbb;
}
#top_control_panel a:hover{
    color: #000;
    background: #fff;
}


/*Left side bat temporaly empty*/
#left_control_panel{
    margin: 5px;
    padding-right: 5px;
    float: left;
    width: auto;
    min-width: 20%;
    height: 100vh;
    background-color: #282828;
    color: #fff;
}
#left_control_panel a:link{
    color: #ccc;
}
#left_control_panel a:visited{
    color: #ccc;
}
#left_control_panel a:hover{
    color: #dec;
}

#main_body{
    float: left;
}

#footer{
    text-align: center;
    width: 100%;
    position: relative;
    float: left;
    padding: 3px;
}


/*ul displayed folders structure*/
#folders_tree{
    margin: 10px;
    position: relative;   
}
#folders_tree a{
    font-family: Arial;
    font-size: 19px;
    font: normal;
}
#folders_tree a:link{
    color: #000;
}
#folders_tree a:visited{
    color: #000;
}
#folders_tree a:hover{
    color: #615d87;
}


#build_info table{
    font-family: Arial;
}
#build_info table td{
    text-align: center;
    font-size: 16px;
    padding: 4px 7px 2px;
    vertical-align: top;
}
#build_info table th {
    text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
}


.logtable {
    display: none;
}