{% extends "folders_tree.html" %}

{% block folders_tree_extend %}
<hr>
{% for package in listdir_info %}
    <a href="/{{ link }}/{{ package }}">{{ package }}</a>

    <table>
        <tr>
            <th>Total</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Skipped</th>
            <th>Time taken</th>
        </tr>
        <tr>
            <td>{{ listdir_info[package].total }}</td>
            <td>{{ listdir_info[package].passed }}</td>
            <td>{{ listdir_info[package].failed }}</td>
            <td>{{ listdir_info[package].skipped }}</td>
            <td>{{ listdir_info[package].duration }}</td>
        </tr>
    </table>
    <hr width="70%" align="left">

{% endfor %}

{% endblock %}