<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div id="body_space">
        <div id="top_control_panel">
            <!-- TODO: replace table by list -> https://www.w3schools.com/css/css_navbar.asp -->
            <table>
                <tr>
                    <td><a href='/'>Main</a></td>
                    <td><a href=''>Max</a></td>
                    <td><a href=''>Maya</a></td>
                    <td><a href=''>Blender</a></td>
                    <td><a href=''>Solid works</a></td>
                    <td><a href=''>Tools</a></td>
                    <td><a href=''>Login form</a></td>
                </tr>
            </table>
        </div>

        <div id="left_control_panel">
            <p>temporaly empty</p>
        </div>

        <div id="folders_tree">
            <h2>{{ dir_root }}</h2>
            <ul>
            {% for dir in dirs %}
                <li><a href="{{ dir }}/">{{ dir }}</a></li>
            {% endfor %}
            </ul>
        </div>

        {% block main_body %}
        {% endblock %}
    </div>
</body>
</html>